#!/usr/bin/env bash
set -euo pipefail

export GCP_FILE=$HOME/Desktop/gcp.secrets

mkdir -p `dirname  $GCP_FILE ` || echo "could not read secrets to initialize environment"

export BW_SESSION=${BW_SESSION:-`bw unlock --raw` }

bw get item gcp-details --raw > $GCP_FILE
export GCP_KEY="$(cat $GCP_FILE | jq -r '.fields[] | select(.name == "gcp.key") | .value'  )"

echo "the GCP key is $GCP_FILE " 
#export PODBEAN_CLIENT_SECRET="$(cat $PODBEAN_FILE |  jq -r '.fields[] | select(.name == "client-secret") | .value'  )"
#
#
#
#export GCP_KEY=bootiful-gcp-2024-redux
#
#bw get item development-podbean --raw > $PODBEAN_FILE
#export PODBEAN_CLIENT_ID="$(cat $PODBEAN_FILE | jq -r '.fields[] | select(.name == "client-id") | .value'  )"
#export PODBEAN_CLIENT_SECRET="$(cat $PODBEAN_FILE |  jq -r '.fields[] | select(.name == "client-secret") | .value'  )"
#
### OPENAI
#export OPENAI_KEY=$( bw get password bootiful-openai-key )
#
### AWS
#S3_FILE=$HOME/mogul-secrets/s3
#
#bw get item aws-s3-credentials--production  > $S3_FILE
#export AWS_REGION=$( cat "$S3_FILE"  | jq -r '.fields[] | select(.name == "region") | .value' )
#export AWS_ACCESS_KEY_ID=$( cat "$S3_FILE"  | jq -r '.fields[] | select(.name == "access-key") | .value')
#export AWS_ACCESS_KEY_SECRET=$( cat "$S3_FILE"  | jq -r '.fields[] | select(.name == "access-key-secret") | .value')
#
#
## Auth0
#AUTH0_FILE=$HOME/mogul-secrets/auth0
#bw get item mogul-auth0-client--production  --raw > $AUTH0_FILE
#export AUTH0_CLIENT_ID="$( cat "$AUTH0_FILE" | jq -r '.fields[] | select(.name == "client-id") | .value')"
#export AUTH0_CLIENT_SECRET="$( cat "$AUTH0_FILE"  | jq -r '.fields[] | select(.name == "client-secret") | .value')"
#export AUTH0_DOMAIN=$( cat  "$AUTH0_FILE" | jq -r '.fields[] | select(.name == "domain") | .value')
#

rm -rf $GCP_FILE && echo "cleaned up $GCP_FILE "