#!/usr/bin/env bash
set -euo pipefail

export GCP_FILE=$HOME/Desktop/gcp.secrets

mkdir -p `dirname  $GCP_FILE ` || echo "could not read secrets to initialize environment"

export BW_SESSION=${BW_SESSION:-`bw unlock --raw` }

bw get item gcp-details --raw > $GCP_FILE
export GCP_KEY="$(cat $GCP_FILE | jq -r '.fields[] | select(.name == "gcp.key") | .value'  )"

rm -rf $GCP_FILE && echo "cleaned up $GCP_FILE "
